---
- hosts: all
  gather_facts: yes
  tasks:
  - name: show IP address
    debug:
      msg: >
        This host uses IP address {{ ansible_facts.default_ipv4.address }} 

  - name: preferred notation 
    debug: 
      msg: This is the preferred notation {{ ansible_facts['default_ipv4']['address'] }}
  - name: old notation 
    debug: 
      msg: my ip address is {{ ansible_default_ipv4.address }}
  - name: This should not work
    debug: 
      msg: the IP address is {{ ansible_facts.ansible_default_ipv4.address }}
