---
- name: create a user using a variable
  hosts: ansible3
  vars_files:
    - ../vault/vault 
  tasks:
    - name: generating encrypted password 
      shell: echo {{ pwhash }} | passwd --stdin {{ user }}
