
# Managed by Ansible - Hardend SSH Configuration
Protocol 2
PermitRootLogin prohibit-password
PasswordAuthentication no 
ChallengeResponseAuthentication no
LoginGraceTime 30
MaxAuthTries 3
UsePAM yes 
