---

# Playbook: 09_harden_ssh.yml
# Purpose: Enforce secure SSH configuration across managed nodes 
# Author Paul Hagan
# Date: {{ ansible_date_time.date }}
# Notes: Always test in check mode first  


  - name: Harden SSH configuration on managed nodes 
    hosts: all
    become: yes
    gather_facts: yes 

    tasks: 
      - name: Backup current SSH configurations
        ansible.builtin.copy: 
          src: /etc/ssh/sshd_config 
          dest: /etc/ssh/sshd_config.{{ ansible_date_time.iso8601 }}
          remote_src: yes 

      - name: Deploy hardend SSH configuration template
        ansible.builtin.template: 
          src: templates/sshd_config.j2
          dest: /etc/ssh/sshd_config 
          owner: root
          group: root
          mode: '0600'
        notify: Validate SSH configuration 
        
    handlers: 
      - name: Validate SSH configuration
        ansible.builtin.command: sshd -t 
